<p class="page-title">
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>Created Events</p>
<% @user.created_events.each do |event| %>
  <%= link_to event.title, event %>
<% end %>
<p>Attended Events</p>
<% @user.attended_events.each do |event| %>
  <%= link_to event.title, event %>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
