<p class="page-title">
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Creator:</strong>
  <%= link_to @event.creator.username, @event.creator %>
</p>
<p>
  <strong>Attend</strong>
  <%= button_to "Attend", attending_path(event_id: @event.id), method: :create %>
</p>
<p>Attendees </p>
<% @event.attendees.each do |user| %>
  <%= link_to user.username, user %>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
